# Rona Coin Version 2
# .gitignore
# Developed by Stew, May-June 2021

# SPDX-License-Identifier: MIT

# Ignore local NODE JS files
node_modules
package-lock.json

# Ignore dev templates
templates

# Ignore secret things
.secret

# Ignore unfinished documentation
documentation